{% load staticfiles %}
<style>
    #gallery-nav {
        border: 1px solid #ccc;
        display: flex;
        position: relative;
        justify-content: space-between;
        width: 60px;
        height: 30px;
        margin: 30px auto 0;
        background-color: #449d44;
        border-radius: 5px;
    }

    #gallery-nav .owl-prev {
        color: #fff;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }

    #gallery-nav .owl-next {
        color: #fff;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }

    .item {
        height: 540px;
        width: 960px !important;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

    .owl-carousel {
        height: 540px;
        width: 960px !important;
    }

    .owl-dots {
        margin-top: -25px;
    }

</style>
<section style="width: 960px;">
    <div class="gallery detail">
        <div class="owl-carousel" data-owl-items="1"
             data-owl-loop="1" data-owl-auto-width="0" data-owl-nav="1"
             data-owl-dots="1"
             data-owl-nav-container="#gallery-nav">
            {% for img in request.pics.about %}
                <div class="item"
                     style="background-image: url('{% static '/img/about' %}/{{ img }}');">
                </div>
            {% endfor %}
        </div>
        <!--end owl-carousel-->
    </div>
    <!--end gallery-->
    <div id="gallery-nav"></div>
</section>
<section>

</section>