*.pyc
*.pyo
*.pot
*.log
*.*~
*.md
*.sublime-project
*.sublime-workspace
package.json
package-lock.json
gulpfile.js
config.rb
reload
*.sqlite3

/other
settings_local.py
.git
.idea
.sass-cache
./settings_local.py
static/cache
.local_files
static_remote
media
node_modules
eggs
develop-eggs
log
bin
i
__pycache__
venv/
mydatabase