{% load pages_tags mezzanine_tags i18n staticfiles %}

<header id="page-header">
    <nav>
        <div class="row">
            <div class="col-sm-2 col-xs-5">
                <a href="/" class="brand"><img
                        src="{% static 'img/logo-0.png' %}" alt="" height="30"></a>
            </div>

            <div class="col-sm-10 col-xs-7 clearfix">
                <div class="pull-right">
                    <div class="primary-nav has-mega-menu">
                        {% page_menu "pages/menus/dropdown.html" %}
                    </div>
                    <div class="secondary-nav">
                        {% if user.is_authenticated %}
                            <a href="{% url 'profile_update' %}">{{ user.username }}</a>
                            {% if user.is_inspector %}
                                <img src="{% static 'img/inspector.png' %}" alt="" height="13" width="13"
                                     title="Инспектор">
                            {% endif %}
                            <a href="{% url 'logout' %}">Выход</a>
                        {% else %}
                            <a href="{% url 'login' %}">Вход</a>
                            <a href="{% url 'signup' %}" class="promoted">Регистрация</a>
                        {% endif %}
                    </div>
                    <div class="nav-btn">
                        <i></i>
                        <i></i>
                        <i></i>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>

