{% load pages_tags mezzanine_tags i18n staticfiles %}

<header id="page-header">
    <nav>
        <div class="row">
            <div class="col-sm-2 col-xs-5">
                <a href="/" class="brand"><img
                        src="{% static 'img/logo-0.png' %}" alt="" height="30"></a>
            </div>

            <div class="col-sm-10 col-xs-7 clearfix">
                <span class="brand center-logo">
                    <img src="{% static 'img/center-logo.jpeg' %}" height="30">
                    Горячая экологическая линия +7(4212)600-035
                </span>
                <div class="pull-right">
                    <div class="primary-nav has-mega-menu">
                        {% page_menu "pages/menus/dropdown.html" %}
                    </div>
                    <div class="secondary-nav">
                    </div>
                    <div class="nav-btn">
                        <i></i>
                        <i></i>
                        <i></i>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>

