<div style="max-height: 500px;">
    <div class="balloon-wrapper">
        <h2>{{ category }}</h2>
        <p class="map-images">
            {% for image in images %}
                <a href="{{ image }}" data-fancybox="gallery">
                    <img src="{{ image }}" height="100" alt="">
                </a>
            {% endfor %}
        </p>
        <p><strong>Описание:</strong></p>
        <p>{{ description|safe|linebreaks }}</p>
        {% if about %}
            <p><strong>Местоположение:</strong></p>
            <p>{{ about }}</p>
        {% endif %}
        {% if decision %}
            <br/>
            <p><strong>Решение:</strong></p>
            <p class="map-images">
                {% for img in decision %}
                    <a href="{{ img }}" data-fancybox="gallery">
                        <img src="{{ img }}" height="100" alt="">
                    </a>
                {% endfor %}
            </p>
        {% endif %}
        <hr>
        <p>Информация предоставлена: <b>{{ name }}</b></p>
        <p> Поделиться:
            <a class="circle-icon" target="_blank"
               href="https://twitter.com/share?text={{ description }}&url={{ url }}">
                <i class="social_twitter"></i>
            </a>
            <a class="circle-icon" target="_blank"
               href="https://www.facebook.com/sharer/sharer.php?u={{ url }}">
                <i class="social_facebook"></i>
            </a>
            <a class="circle-icon" target="_blank"
               href="https://connect.ok.ru/offer?url={{ url }}&title={{ category }}">OK</a>
            <a class="circle-icon" target="_blank"
               href="http://vk.com/share.php?url={{ url }}">VK</a>
            <a class="circle-icon" target="_blank"
               href="http://www.linkedin.com/shareArticle?mini=true&url={{ url }}">
                <i class="social_linkedin"></i>
            </a>
            <a class="circle-icon share-link" data-placement="left"
               data-html="true"
               data-content="<textarea rows=&#x22;1&#x22; class=&#x22;copy-url&#x22; readonly tabindex=&#x22;-1&#x22;></textarea>">
                <i class="social_share"></i>
            </a>
        </p>
        <div class="comments-wrapper">
            <div class="add-button-wrapper">
                <button class="btn btn-primary pull-right add-button">
                    Добавить комментарий
                </button>
            </div>
            <div class="form comment-form inputs-underline">
                <form hidden="hidden" action="{% url 'label:ajax_comment' %}"
                      class="ajax_comment" method="POST">
                    {{ form_comment.errors }}
                    {% for hidden in form_comment.hidden_fields %}
                        {{ hidden }}{% endfor %}
                    {% for field in form_comment.visible_fields %}
                        <div class="form-group">
                            {{ field }}
                            <span class="text-danger">{{ field.errors.as_text }}</span>
                        </div>
                    {% endfor %}

                    <div class="form-group">
                        <button type="reset"
                                class="form-control btn btn-default pull-left">
                            Отменить
                        </button>
                        <button type="submit"
                                class="form-control btn btn-primary pull-right">
                            Отправить
                        </button>
                    </div>
                </form>
            </div>
            <div class="comment-list">
                {% for comment in comments %}
                    <div class="comment">
                        <div>
                            <div class="pull-left">
                                <b>{{ comment.name }} </b>
                            </div>
                            <div class="pull-right">
                                <i>{{ comment.submit_date }}</i>
                            </div>
                        </div>
                        <div class="comment-text">
                            {{ comment.text|linebreaks }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>