{% extends "base.html" %}

{% block content %}
    <div class="container for_printing">
        <div class="row">
            <h1 class="">Форма запроса статуса инспектора</h1>
            &nbsp;
            <form method="POST" id="inspector_form">{% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Печать" class="btn btn-primary print_button">
            </form>
            &nbsp;
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

        </div>
    </div>
{% endblock content %}