<!--Modal-->
{% load staticfiles %}
<div id="modal-sign-in" class="modal fade" role="dialog" data-backdrop="false">
    <div class="modal-dialog">
        <!--Modal content -->
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-4 modal-content">
                    <div class="modal-header">
                        <section class="page-title">
                            <h1>Вход</h1>
                        </section>
                        <button type="button" class="close" data-dismiss="modal"
                                area-label="Close">
                            <span aria-hidden="false">&times;</span>
                        </button>
                    </div>
                    <!--end page-title-->
                    <section>
                        <form action="{% url 'user:login_user' %}" method="post"
                              id="login_form" class="user_form"
                              enctype="multipart/form-data"
                              novalidate>{% csrf_token %}
                            {{ login_form.errors }}
                            <div class="row">
                                <div class="modal-body">
                                    {% for field in login_form %}
                                        <div class="">
                                            {{ field }}
                                            {% if field.help_text %}
                                                <span style="color: grey">{{ field.help_text|safe }}</span>
                                            {% endif %}
                                            {% for error in field.errors %}
                                                <span class="text-danger">{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% endfor %}
                                    <span class="text-danger"
                                          id="form_errors"></span>
                                </div>
                            </div>
                            <div class="form-group center modal-footer">
                                <div class="row">
                                    <button type="submit"
                                            class="btn btn-primary center-block">
                                        Войти
                                    </button>
                                </div>
                            </div>
                        </form>
                    </section>
                </div>
                <!--col-md-4-->
            </div>
            <!--end ro-->
        </div>
        <!--end container-->
    </div>
</div>